body {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  margin: 0 auto;
}

nav {
  background-color: green;
}

a {
  color: chartreuse;
}

p {
  font-size: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 45%;
}
